<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	  <section name="emailSettings" type="WindowsService1.EmailSettingsSection, WindowsService1" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="buildDocSoap" maxReceivedMessageSize="104857600" />
        <binding name="BasicHttpBinding_ItemplateMgr" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://engine-vpdemandcreation.edocbuilder.com/services/builddoc.asmx" binding="basicHttpBinding" bindingConfiguration="buildDocSoap" contract="BuildDocWSDLService.buildDocSoap" name="buildDocSoap" />
      <endpoint address="http://engine-vpdemandcreation.edocbuilder.com/services/templateMgr.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ItemplateMgr" contract="TemplateMgrService.ItemplateMgr" name="BasicHttpBinding_ItemplateMgr" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="edoc@abcd.com" value="1234" />
    <add key="randy.gay@abcd.com" value="5678" />
  </appSettings>
	<emailSettings>
		<smtpSettings
		  email="abcd@gmail.com"
		  password="abcd.1234"
		  server="smtp.office365.com"
		  port="587" />
	</emailSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="FulfillmentTestEntities" connectionString="metadata=res://*/BuildDocModel.csdl|res://*/BuildDocModel.ssdl|res://*/BuildDocModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mypc;initial catalog=mydb;persist security info=True;user id=admin;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
